@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant Rater is an application which allows a user to add to our repository of Restaurant knowledge, adding their opinion to our existing collection ratings, and helping us to build up a vast knowledge base and assising all other users with their difficult dining decisions!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add a Restaurant</h2>
        <p>
            Get started by adding a new Restaurant to be rated!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Add Restaurant &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Restaurants already added</h2>
        <p>Click here to begin your journey in reviewing the Restaurants which have already been Rated.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">View Restaurant &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Edit or Delete a Restaurant</h2>
        <p>You can easily update or remove a restuarant from the current repository.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Edit/Delete Restaurant &raquo;</a></p>
    </div>
</div>